@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";

    var guy = string.Empty;
    var imageUri = string.Empty;

    string connectionString = "Server=tcp:casting305.database.windows.net,1433;Initial Catalog=Casting305;Persist Security Info=False;User ID=dbadmin;Password=Baddbpass1;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;";

    using (System.Data.SqlClient.SqlConnection _con = new System.Data.SqlClient.SqlConnection(connectionString))
    {
        string queryStatement = "SELECT TOP 1 * FROM [SalesLT].[Customer]";

        using (var _cmd = new System.Data.SqlClient.SqlCommand(queryStatement, _con))
        {
            var customerTable = new System.Data.DataTable("Top5Customers");

            var _dap = new System.Data.SqlClient.SqlDataAdapter(_cmd);

            _con.Open();
            _dap.Fill(customerTable);
            _con.Close();

            guy = customerTable.Rows[0].ItemArray[3].ToString();
        }
    }

    List<string> thumbnailUrls = new List<string>();

    // Create storagecredentials object by reading the values from the configuration (appsettings.json)
    var storageCredentials = new Microsoft.WindowsAzure.Storage.Auth.StorageCredentials("casting305", "TNDeEXG40fZg7FQuGT1MyFue / 4AXHTzsCi0OiQeQrMv17xENp + BO7fvrv / G6HyJ3Lz2P1cVzpAvYtmQVCYv7bQ ==");
    // Create cloudstorage account by passing the storagecredentials
    var storageAccount = new Microsoft.WindowsAzure.Storage.CloudStorageAccount(storageCredentials, true);

    // Create blob client
    var blobClient = storageAccount.CreateCloudBlobClient();

    // Get reference to the container
    var container = blobClient.GetContainerReference("images");

    // Set the permission of the container to public
    container.SetPermissions(new Microsoft.WindowsAzure.Storage.Blob.BlobContainerPermissions { PublicAccess = Microsoft.WindowsAzure.Storage.Blob.BlobContainerPublicAccessType.Blob });

    Microsoft.WindowsAzure.Storage.Blob.BlobContinuationToken continuationToken = null;

    Microsoft.WindowsAzure.Storage.Blob.BlobResultSegment resultSegment = null;

    //Call ListBlobsSegmentedAsync and enumerate the result segment returned, while the continuation token is non-null.
    //When the continuation token is null, the last page has been returned and execution can exit the loop.
    //do
    //{
    //This overload allows control of the page size. You can return all remaining results by passing null for the maxResults parameter,
    //or by calling a different overload.
    resultSegment = container.ListBlobsSegmented("", true, Microsoft.WindowsAzure.Storage.Blob.BlobListingDetails.All, 10, continuationToken, null, null);

    foreach (var blobItem in resultSegment.Results)
    {
        thumbnailUrls.Add(blobItem.StorageUri.PrimaryUri.ToString());
    }

    //Get the continuation token.
    continuationToken = resultSegment.ContinuationToken;
    //}

    imageUri = resultSegment[0];

    //while (continuationToken != null);
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Casting Home Page. Hello @guy</h2>
        </hgroup>
        <img src="@imageUri" />
        <p>
            To learn more about ASP.NET Web Pages, visit
            <a href="http://asp.net/webpages" title="ASP.NET Web Pages Website">http://asp.net/webpages</a>.
            The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET Web Pages.
            If you have any questions about ASP.NET Web Pages, visit
            <a href="http://forums.iis.net/1166.aspx" title="ASP.NET Web Pages Forum">our forums</a>.
        </p>
    </div>
</section>
}

<h3>We suggest the following:</h3>

<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET Web Pages and the new Razor syntax provide a fast, approachable, and lightweight way to combine server code with HTML
        to create dynamic web content. Connect to databases, add video, link to social networking sites, and include many more features
        that let you create beautiful sites using the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245139">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245140">Learn more…</a>
    </li>

    
</ol>