body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tile{
    padding-bottom:5px;
    max-width: 290px;
    min-width: 290px;
}

.tileHeight {
    height: 400px;
}

.photoHeight {
    height: 215px;
}

.tileImage {
    width:  250px;
}

.tileTitle {
    margin-top: -5px;
    margin-bottom: 5px;
}

.tileImageDiv {
    height: 260px;
}

.role li.active {
    padding-bottom: 2px;
}

.role li.active a{
    min-width: 190px;
    display: inline-block;
}    

.role li.active span{
    float: right;
}

.tileCheck {
    float:right;
}

.tileAction {
    position:absolute;
    padding: 1px 6px;
}

.listItemModel {
    max-width: 235px;
}

.listItemModelTextbox {
    max-width: 235px;
    display:inline;
}