body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tile{
    max-width: 234px;
}

.tileHeight {
    height: 400px;
}

.photoHeight {
    max-width: 100%;
    max-height: 100%;
}

.tileImage {
    max-width: 100%;
    max-height: 100%;
}

.tileTitle {
    margin-top: -5px;
    margin-bottom: 5px;
}

.tileImageDiv {
    height: 230px;
    display:flex;
    justify-content: center;
    align-items: baseline;
    overflow: hidden;
}

.role li.active {
    padding-bottom: 2px;
}

.role li.active a{
    min-width: 190px;
    display: inline-block;
}    

.role li.active span{
    float: right;
}

.tileCheck {
    float:right;
}

.tileAction {
    position:absolute;
    padding: 1px 6px;
}

.listItemModel {
    width: 235px;
}

.listItemModelTextbox {
    width: 235px;
    display:inline;
}

.form-controlLine {
  width: 130px;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.cbw {
    width: 155px;
}

.printoutImg {
    max-width:100%;
    max-height:80px;
}