@model WebApplication1.Models.ListItemModel

<div>
    @Html.DropDownListFor(model => model.Value, Model.ListItems, new { @class = "form-control listItemModel" })

    @Html.TextBox("newOption","", new { @class = "form-control listItemModelTextbox hide" })

    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="addListOption($(this))">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>

    <button type="button" class="btn btn-default hide" aria-label="Left Align" onclick="saveListOption($(this), '@Model.List')">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </button>

    <div class="hide"><span class="text-danger field-validation-error">Save Failed</span></div>
</div>

