@model PagedList.IPagedList<WebApplication1.Models.TalentModel>
@using PagedList.Mvc;  

<link href="~/Content/PagedList.css" rel="stylesheet" />  

<h4>
    @Html.ActionLink("Add New Talent", "Add")
</h4>
@using (Html.BeginForm("Index", "Talent", FormMethod.Get))
{
    <p>
        Search: @Html.TextBox("search", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}  

<div class="row">
    @foreach (var item in Model)
    {
        @Html.DisplayFor(modelItem => item)
    }
</div>

@Html.PagedListPager(Model, pageNo => Url.Action("Index", new { pageNo, sortOrder = ViewBag.CurrentSortOrder, sortDirection = ViewBag.CurrentsortDirection, filterValue = ViewBag.FilterValue }))

